body {
  padding-top: 70px;
  min-width: 290px;
}

section {
  padding-top: 70px;
  margin-top: -70px;
}

section:nth-child(odd) .section-background,
section:nth-child(odd) .section-background .card {
  background-color: #edf7eb;
}

h1, h2, h3, h4, h5 {
  color: #166c28
}

.carousel-caption h5 {
  color: white;
}

.carousel-caption {
  text-shadow: 0.5px 0.5px 1px rgba(0,0,0,0.8), 0 0 10px rgba(0,0,0,1);
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  color: #ffffff !important;
  background-color: #166c28 !important;
  border-color: #166c28 !important;
}

.btn-primary:focus,
.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(22, 108, 40, .5) !important;
}

.navbar-brand img {
    height: 45px;
    width: auto;
}

.embed-responsive-12by5::before {
  padding-top: 41.667%;
}

#top-carousel > .carousel-wrapper {
  width: 100%;
  padding-top: 60%;
  position: relative;
}

#apartment1-carousel > .carousel-wrapper,
#apartment2-carousel > .carousel-wrapper {
  width: 100%;
  padding-top: 70%;
  position: relative;
}

.svg-fluid {
  width: 100% \9;
}

.carousel-wrapper > .carousel-inner {
  position: absolute;
  top: 0;  bottom: 0;  left: 0;  right: 0;
}

.calendar-wrapper {
  overflow: hidden;
  height: 250px;
}

.calendar-border-hide {
  top:-2px;
  left:-2px;
  right:-2px;
  bottom:-2px;
  border: 5px solid white;
  pointer-events: none;
}

.calendar-scale {
  border: none;
  overflow: hidden;

  -ms-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  transform: scale(1.25);

  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

@media (min-width:430px) {
  .hide-not-tiny {
    display: none !important;
  }
  .hide-tiny {
    display: block !important;
  }
}

@media (max-width:430px) {
  .hide-not-tiny {
    display: block !important;
  }
  .hide-tiny {
    display: none !important;
  }
}

@media (min-width:576px) {
  .hide-not-tiny {
    display: none !important;
  }
  .hide-tiny {
    display: none !important;
  }
}

.calendar {
  border: none;
  overflow: hidden;
}

input[type="date"] {
	min-height: 2.5rem;
}

.map {
  height: 50vh;
  margin-bottom: 1em;
}

.has-spinner .spinner {
  opacity: 0;
  max-width: 0;

  -webkit-transition: opacity 0.25s, max-width 0.45s;
  -moz-transition: opacity 0.25s, max-width 0.45s;
  -o-transition: opacity 0.25s, max-width 0.45s;
  transition: opacity 0.25s, max-width 0.45s; /* Duration fixed since we animate additional hidden width */
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  max-width: 50px; /* More than it will ever come, notice that this affects on animation duration */
}

footer {
  background-color: #65995c;
}

footer address {
  margin: 0;
}

footer ul {
  margin: 0;
}
