<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ include.apartment.title }}</h4>
    <ul class="list-inline">
      <li class="list-inline-item"><i class="fas fa-user"></i> {{ include.apartment.persons }} Personen</li>
      <li class="list-inline-item"><i class="fas fa-bed"></i> {{ include.apartment.beds }} Betten</li>
      <li class="list-inline-item"><i class="fas fa-tv"></i> Sat-TV und Radio</li>
      <li class="list-inline-item"><i class="fas fa-wifi"></i> WLAN</li>
    </ul>
    <img class="img-fluid svg-fluid pb-4" src="{{ include.apartment.floorplan }}" alt="Grundriss {{ include.apartment.title }}">

    <h5 class="card-title">{{ include.apartment.price-heading }}</h5>
    <table class="table table-striped table-sm">
      <tbody>
        {% for price in include.apartment.price-list %}
        <tr>
          <td>{{ price.label }}</td>
          <td class="text-right text-nowrap">{{ price.value }} €</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
