<div class="calendar-wrapper d-none d-xl-block position-relative" style="width: 1005px">
  <iframe class="calendar calendar-scale embed-responsive-item" src="https://www.traum-ferienwohnungen.de/widgets/kalender/7792/?months=6&columns=6&free=44b533&booked=d35b4f" scrolling="no" width="804" height="224" allowfullscreen></iframe>
  <div class="position-absolute calendar-border-hide"></div>
</div>
<div class="calendar-wrapper d-none d-lg-block d-xl-none position-relative" style="width: 838.75px">
  <iframe class="calendar calendar-scale embed-responsive-item" src="https://www.traum-ferienwohnungen.de/widgets/kalender/7792/?months=5&columns=5&free=44b533&booked=d35b4f" scrolling="no" width="671" height="224" allowfullscreen></iframe>
  <div class="position-absolute calendar-border-hide"></div>
</div>
<div class="calendar-wrapper d-none d-md-block d-lg-none position-relative" style="width: 672.5px">
  <iframe class="calendar calendar-scale embed-responsive-item" src="https://www.traum-ferienwohnungen.de/widgets/kalender/7792/?months=4&columns=4&free=44b533&booked=d35b4f" scrolling="no" width="538" height="224" allowfullscreen></iframe>
  <div class="position-absolute calendar-border-hide"></div>
</div>
<div class="calendar-wrapper d-none d-sm-block d-md-none position-relative" style="width: 506.25px">
  <iframe class="calendar calendar-scale embed-responsive-item" src="https://www.traum-ferienwohnungen.de/widgets/kalender/7792/?months=3&columns=3&free=44b533&booked=d35b4f" scrolling="no" width="405" height="224" allowfullscreen></iframe>
  <div class="position-absolute calendar-border-hide"></div>
</div>
<div class="calendar-wrapper d-block d-sm-none hide-tiny position-relative" style="width: 405px; height: 224px">
  <iframe class="calendar embed-responsive-item" src="https://www.traum-ferienwohnungen.de/widgets/kalender/7792/?months=3&columns=3&free=44b533&booked=d35b4f" scrolling="no" width="405" height="224" allowfullscreen></iframe>
  <div class="position-absolute calendar-border-hide"></div>
</div>
<div class="calendar-wrapper d-block d-sm-none hide-not-tiny position-relative" style="width: 272px; height: 224px">
  <iframe class="calendar embed-responsive-item" src="https://www.traum-ferienwohnungen.de/widgets/kalender/7792/?months=2&columns=2&free=44b533&booked=d35b4f" scrolling="no" width="272" height="244" allowfullscreen></iframe>
  <div class="position-absolute calendar-border-hide"></div>
</div>
