<div id="{{ include.id }}" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
  {% for image in include.slides %}
    <li data-target="#{{ include.id }}" data-slide-to="{{ forloop.index0 }}" {% if forloop.index0 == 0 %}style="active"{% endif %}></li>
  {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-wrapper">
    <div class="carousel-inner">
    {% for image in include.slides %}
      <div class="carousel-item {% if forloop.index0 == 0 %}active{% endif %}">
        <img class="img-fluid w-100" src="{{ image.src }}" alt="{{ image.alt }}">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ forloop.index }}/{{ forloop.length }} -  {{ image.alt }}</h5>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>

  <!-- controls -->
  <a class="carousel-control-prev" href="#{{ include.id }}" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#{{ include.id }}" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
