<nav id="body-nav" class="navbar fixed-top navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="anchor navbar-brand" href="#home">
      <img class="d-md-block d-lg-none" src="images/icon.svg" alt="Haus Wiesengrund">
      <img class="d-none d-lg-block" src="images/logo.svg" alt="Haus Wiesengrund">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="anchor nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="anchor nav-link" href="#apartments">Wohnungen</a>
        </li>
        <li class="nav-item">
          <a class="anchor nav-link" href="#price">Preise</a>
        </li>
        <li class="nav-item">
          <a class="anchor nav-link" href="#getting-there">Anfahrt</a>
        </li>
        <li class="nav-item">
          <a class="anchor nav-link" href="#inquiry">Anfrage</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
