<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="favicon.ico">

    <title>Ferienwohnung Haus Wiesengrund</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/navbar.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js" integrity="sha384-qFIkRsVO/J5orlMvxK1sgAt2FXT67og+NyFTITYzvbIP1IJavVEKZM7YWczXkwpB" crossorigin="anonymous"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113902644-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113902644-1');
    </script>
  </head>
  <body data-spy="scroll" data-target="#body-nav">
    {% include navbar.html %}

    <section id="home">
      <div class="section-background">
        <div class="embed-responsive embed-responsive-12by5">
          <video class="embed-responsive-item" poster="images/video-poster.jpg" preload="auto" autoplay muted loop playsinline>
            <source src="videos/Haus_Wiesendgrund_Landing_Page.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
          </video>
        </div>

        <div class="container pt-2">

          {% capture home %}{% include home/home.md %}{% endcapture %}
          {{ home | markdownify }}

          <div class="pb-3">
            {% include carousel.html id="top-carousel" slides=site.data.top-carousel %}
          </div>
        </div>
      </div>
    </section>

    <section id="apartments">
      <div class="section-background">
        <div class="container py-1">

          {% capture apartments %}{% include home/apartments.md %}{% endcapture %}
          {{ apartments | markdownify }}

        </div>
      </div>
    </section>

    <section id="price">
      <div class="section-background">
        <div class="container py-1">

          {% capture price %}{% include home/price.md %}{% endcapture %}
          {{ price | markdownify }}

        </div>
      </div>
    </section>

    <section id="getting-there">
      <div class="section-background">
        <div class="container py-1">

          {% capture getting-there %}{% include home/getting-there.md %}{% endcapture %}
          {{ getting-there | markdownify }}

        </div>
      </div>
    </section>

    <section id="inquiry">
      <div class="section-background">
        <div class="container py-1 pb-4">

          {% capture inquiry %}{% include home/inquiry.md %}{% endcapture %}
          {{ inquiry | markdownify }}

        </div>
      </div>
    </section>

    <footer class="text-center text-white py-3">
      <div class="container">
        <address>
          <ul class="list-inline">
            <li class="list-inline-item">Helga Schild</li>
            <li class="list-inline-item"><i class="fas fa-envelope"></i> Thürmsdorfer Str. 17 01796 Struppen</li>
            <li class="list-inline-item"><i class="fas fa-phone"></i> <a class="text-white" href="tel:0049-35021-60383">(+49) 35021-60383</a></li>
            <li class="list-inline-item"><i class="fas fa-at"></i> <a class="text-white" href="mailto:info@wiesengrund-haus.de">info@wiesengrund-haus.de</a></li>
          </ul>
        </address>
      </div>
    </footer>

    <!-- bootstrap 4 -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- fontawesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

    <!-- polyfill -->
    <script src="js/date-input-polyfill.dist.js"></script>

    <script>
      function checkDates() {
        var form_arrival = $("#form-arrival")[0];
        var form_departure = $("#form-departure")[0];

        var arrivalDate = new Date(form_arrival.value);
        var departureDate = new Date(form_departure.value);
        var now = new Date();
        now.setHours(0, 0, 0, 0);

        if (isNaN(arrivalDate.getTime()))
          form_arrival.setCustomValidity('The arrival-date is invalid!');
        else if (arrivalDate < now)
          form_arrival.setCustomValidity('The arrival-date is in the past!');
        else
          form_arrival.setCustomValidity('');

        if (isNaN(departureDate.getTime()))
          form_departure.setCustomValidity('The departure-date is invalid!');
        else if (departureDate < arrivalDate)
          form_departure.setCustomValidity('The departure-date is before arrival!');
        else
          form_departure.setCustomValidity('');
      }

      $(document).ready(function(){

        function setupCarouselSwipe($carousel) {
          var touchDeltaThreshold = 50; // chosen pretty much arbitrarily
          var touchDeltaThresholdSquared = touchDeltaThreshold * touchDeltaThreshold;
          var touchStartX = 0;
          var touchStartY = 0;
          $carousel.on('touchstart', function(event) {
            for (var i = 0; i < event.changedTouches.length; i++) {
              var changedTouch = event.changedTouches[i];
              if (changedTouch.identifier == 0) {
                touchStartX = changedTouch.pageX;
                touchStartY = changedTouch.pageY;
                $(this).carousel('pause');
              }
            }
          });
          $carousel.on('touchend', function(event) {
            for (var i = 0; i < event.changedTouches.length; i++) {
              var changedTouch = event.changedTouches[i];
              if (changedTouch.identifier == 0) {
                var touchDeltaX = changedTouch.pageX - touchStartX;
                var touchDeltaY = changedTouch.pageY - touchStartY;
                var touchDeltaSquaredX = touchDeltaX * touchDeltaX;
                var touchDeltaSquaredY = touchDeltaY * touchDeltaY;
                if (touchDeltaSquaredX > touchDeltaSquaredY &&
                    touchDeltaSquaredX >= touchDeltaThresholdSquared) {
                  if (touchDeltaX < 0)
                    $(this).carousel('next');
                  else if (touchDeltaSquaredX > touchDeltaThresholdSquared)
                    $(this).carousel('prev');
                }
                $(this).carousel('cycle');
              }
            }
          });
        }

        setupCarouselSwipe($('#top-carousel'));
        setupCarouselSwipe($('#apartment1-carousel'));
        setupCarouselSwipe($('#apartment2-carousel'));

        function smoothFocus(event) {
          if (this.hash !== "") {
            event.preventDefault();

            var hash = this.hash;
            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 800, function(){
              window.location.hash = hash;
            });
          }
        }

        $(".anchor").on('click', smoothFocus);

        $(".navbar-nav li a").click(function(event) {
          $(".navbar-collapse").collapse('hide');
        });

        $("#form-arrival").change(checkDates);
        $("#form-departure").change(checkDates);

        $('form').submit(function() {
          var button = $(this).find('.has-spinner');
          button.addClass('active');
          button.prop('disabled', true);
          $("#form-error").slideUp(500);
          var $form = $(this);
          $.post($(this).attr('action'), $(this).serialize(), function(response) {
            button.removeClass('active');
            button.prop('disabled', false);

            if (response["status"] === "success") {
              $("#form-success").slideDown(250).delay(1500).slideUp(500);
              $form[0].reset();
            } else {
              var form_error = $("#form-error");

              if ("message" in response)
                form_error.text(response["message"]);
              else
                form_error.text("Unknown error :(");

              form_error.slideDown(250);
            }
          });
          return false;
        });

        document.addEventListener('invalid', function(e){
           $(e.target).addClass("invalid");
           var offset = $('#body-nav').outerHeight();
           $('html, body').scrollTop($(".invalid").offset().top - offset);
        }, true);
        document.addEventListener('change', function(e){
           $(e.target).removeClass("invalid")
        }, true);

      });
    </script>
  </body>
</html>
